[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests
[submodule "lib/weiroll-foundry"]
	path = lib/weiroll-foundry
	url = https://github.com/dantop114/weiroll-foundry
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/tokenized-strategy-periphery"]
	path = lib/tokenized-strategy-periphery
	url = https://github.com/yearn/tokenized-strategy-periphery
